body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(255,255,255,0), lighten($dark-teal,70%));
    
}

.section{
    &-large{
        padding: 5em 1em;
    }
    &--banner{
        padding-left: 5%;
        padding-right: 5%;
    }
    &__content{
        img{
            margin: 2em auto;
            max-height: 90px;
        }
    }
}

.credito{
    display: block;
    margin-top: 1em;
    opacity: 0.7;
    img{
        margin: 0;
        vertical-align: middle;
        height: 14px;
    }
    span{
        font-size: .6em;
        line-height: 1em;
        font-weight: 400;
        color: white;
        font-style: italic;
    }
}

@media only screen and (max-width: 728px) {
    .section__cont{
        text-align: center;
    }
}