.bg-white{
    background-color: #FFFFFF;
}
.bg-gray-1{
    background-color: #FAFAFA;
}
.bg-gray-2{
    background-color: #F0F0EF;
}
.bg-gray-3{
    background-color: #E3E3E3;
}
.bg-gray-4{
    background-color: #D8D7D7;
}