/*.fullpage-wrapper {
	width: 100%!important;
	transform: none!important;
}

.fp-section {
	width: 100%!important;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 0;
	transition: all .7s ease-in-out;
}

.fp-section.active {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}
*/

.section {
    /* the important one*/
    background-attachment: fixed; 
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
	&__content{
		opacity: 0;
		transition: all .5s ease-in;
		transform: translateY(-20px);
		text-align: center;
		&.active{
			opacity: 1;
			transform: translateY(0);
		}
	}
}

#pp-nav li .active span{ 
	background: white;
}

#pp-nav.right{
	right: 0;
}