h1,h2,h3,h4,h5,h6,p,span,a{
    font-family: $font-primary;
}


h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
    text-transform: uppercase;
}

p{
    font-size: 1em;
}

.logo-biodiversidad{
    display: block;
    display: block;
    color: white;
    text-align: center;
    width: 320px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0.1rem 1rem;
    margin: 1rem auto;
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(0,0,0,0.1);

    span{
        font-weight: 700;
    }

    &--secondary{
        border: 0;
        color: white;
        text-align: left;
        padding: 0;
        margin: 1.5rem 0;
        font-size: 2rem;
        line-height: 2rem;
        width: auto;
        text-shadow: 0 0 10px rgba(0,0,0,1);
    }
    &--small{
        font-size: 1rem;
        line-height: 2rem;
        width: auto;
        margin: 0;
    }
}

@media only screen and (max-width: 728px) {
    .logo-biodiversidad--secondary{
        text-align: center;
        margin: 1.5rem auto;
    }
}