h1,h2,h3,h4,h5,h6,p,span,a{
    font-family: $font-primary;
}


h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
    text-transform: uppercase;
}

p{
    font-size: 1em;
}

.logo-biodiversidad{
    display: block;
    display: block;
    color: $gray;
    text-align: center;
    width: 320px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.1rem 1rem;
    margin: 1.5rem auto;
    font-size: 2rem;
    span{
        font-weight: 700;
    }

    &--secondary{
        border: 0;
        color: $dark-gray;
        text-align: left;
        padding: 0;
        margin: 1.5rem 0;
        font-size: 1.8rem;
        line-height: 2rem;
    }
}

@media only screen and (max-width: 728px) {
    .logo-biodiversidad--secondary{
        text-align: center;
    }
}