/*--------------------------------*\
    COLOR
\*--------------------------------*/
$orange: #EF774C;
$magenta: #E24650;
$teal-light: #0AABB9;
$teal: #016972;
$dark-teal: #334859;
$gray: #475252;
$dark-gray: #333333;

$primary-color: $teal;
$secondar-color: $gray;
$accent-color: $orange;


/*--------------------------------*\
    FONTS
\*--------------------------------*/
$font-primary: 'Open Sans', sans-serif;

